.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $color-background;
  left: 0;
  width: 15%;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  color: $color-light;

  .sidebar-header {
    padding: 0 12px;
    margin-top: 10px;
    align-items: center;
    height: 60px;

    .logo {
      display: flex;
      flex-direction: row;
      
      img {
        display: flex;
        width: 70%;
        height: auto;
        margin-right: 0;
      }

      i {
        float: left;
        width: 10%;
        padding-left: 20px;
        font-size: 20px;
        align-self: center;
        cursor: pointer;
      }
    }
  }

  .menu-link {
    display: flex;
    -webkit-box-align: center;
    align-content: center;
    align-items: center;

  }

  ul {
    padding: 0 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
    li {
      justify-content: center;
      width: 100%;

      a {
        text-decoration: none;
        padding: 5px 0;
        align-content: center;
        text-align: center;
      }

      a:hover {
        background-color: $color-dark;
        border-left: 3px solid $color-button;
      }

      a .title {
        color: $color-main;
        padding: 0 10px;
      }

      img {
        max-height: 12px;
        padding: 0 10px;
        color: $color-light;
      }
    }
  }

  .manager {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-content: center;
    align-items: center;
    padding: 0 12px;
    margin: 10px 0;

    h4 {
      text-align: center;
      margin: 5px 0;
    }
    
    .content-manager {
      height: 60px;
      display: flex;
      flex-direction: row;
      width: 100%;

      .name {
        color: $color-blue;
        height: auto;
        display: table-cell;
        vertical-align: middle;
        margin-left: 10px;
        line-height: 50px;
      }

      .css-dot {
        font-weight: bold;
        color: $color-green;
        font-size: 60px;
        position: relative;

        .avatar {
          width: 60px;
          height: auto;
        }

      }

      .css-dot::after { 
        content: "\00b7";
        position: absolute;
        left: 65%;
        bottom: -15%;
      }

      .circle-dot {
        position: absolute;
      }

      .circle-dot::after {
        content: '';
        width: 7px;
        height: 7px;
        background: $color-green;
        border-radius: 50%;
      }
    }
  }

  .hidden {
    display: none;
  }
}

/* Media */
@media (max-width: 767px) {
  .sidebar {
    margin-left: 0;
    transition: 0.5s;
    &.hidden {
      display: block;
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-left: -125px;

      .topbar-account {
        display: flex;
        width: 100%;
        height: 25px;
        margin-bottom: 10px;
        flex-direction: row;
        line-height: 25px;
        align-items: center;
        justify-content: center;
        position: relative;

        p {
          font-size: 12px;
        }

        img {
          width: auto;
          height: 20px;
          margin: 0 10px;
          line-height: 25px;
        }
      }

      i {
        color: $color-grey;
        font-size: 20px;
        width: auto;
        line-height: 60px;
        margin: 0 10px;
      }
  
      .css-dot {
        line-height: 60px;
        display: flex;
        flex-direction: row;
        color: $color-button;
        font-size: 50px;
        position: relative;
      }
  
      .css-dot::after { 
        content: "\00b7";
        position: absolute;
        left: 50%;
        bottom: 8px;
      }

      .circle-dot {
        position: absolute;
      }

      .circle-dot::after {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
    }
  }
}