*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-main;
  font-family: $brand-font;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

